@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
    position: absolute;
    right: 0px;
    top: var(--size-50);
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: var(--size-20);
    color: var(--font-color-dark);
  }
}

@media screen and (max-width: 360px) {
  .hero-wrapper {
    text-align: center;
  }
  .hero-header {
    font-size: var(--size-30);
    max-width: 100%;
  }
  .hero-paragraph {
    font-size: var(--size-18);
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    text-align: center;
    display: grid;
    justify-items: center;
  }
  .learn-more {
    justify-content: center;
  }
  .header-wrap {
    display: grid;
  }
  .bg-header {
    width: 100vh;
    padding: var(--size-100) 0;
  }
  #img1 {
    left: 10%;
    top: 95px;
    width: 38px;
    border: 14px solid var(--white);
  }
  #img2 {
    left: 28%;
    bottom: -110px;
    width: 50px;
    border: 16px solid var(--white);
  }
  #img3 {
    left: 53%;
    bottom: -112px;
    width: 50px;
    border: 14px solid var(--white);
  }
  #img4 {
    left: -20%;
    top: 237px;
    width: 60px;
    border: 15px solid var(--white);
  }
  #img5 {
    left: 12%;
    top: 250px;
    width: 60px;
    border: 15px solid var(--white);
  }
  #img6 {
    left: -28%;
    top: 350px;
    width: 45px;
    border: 12px solid var(--white);
  }
  #img7 {
    left: 1%;
    top: 365px;
    width: 50px;
    border: 15px solid var(--white);
  }
}
